<footer class="footer">
    <div class="footer-inner" style="text-align: center;">
        <!--<p>
            <a href="/about"  title="<%= __('about') %>"><%= __('about') %></a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            &lt;!&ndash; 自定义链接 &ndash;&gt;
            <a href="/help" title="<%= __('help') %>" >急救中心</a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="/links" title="友情链接">友情链接</a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="/app" title="App下载">App下载</a>
        </p>-->
        <p>
            本站点采用<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>，已建立<span id="siteBuildingTime"></span>天<br/>
            ©2017 <i class="fa fa-heart-o"></i> Mr Wang
        </p>
    </div>
</footer>